a {
  color: white;
  text-decoration: none;
}

.app {
  text-align: left;
}

.header {
  width: 30%;
  float: left;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(7px + 1vmin);
}

.header a {
  margin-left: 10px;
}

.grid {
  float: left;
  width: 100%;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.pagination {
  width: 70%;
  float: left;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.pagination button {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
  font-size: calc(5px + 1vmin);
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
}

.pagination span {
  font-size: calc(5px + 1vmin);
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading svg {
  fill: white;
  width: 50px;
  height: auto;
}

.image-wrapper,
.channel {
  width: 20%;
  float: left;
  position: relative;
  height: 0;
  padding-bottom: 20%;
}

.image-wrapper span {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.channel span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .image-wrapper,
  .channel {
    width: 33.33%;
  }
}
